html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

h1 {
  margin: 0 auto;
  text-align: center;
}

#menu {
  display: flex;
  justify-content: center;
  padding: 5px;
}

#gameBoard {
  margin: 9px auto 0;
  border: 5px solid black;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  height: 85%;
  width: 90%;
  justify-content: center;
}

#gameBoard2 {
  margin: 9px auto 0;
  border: 5px solid black;
  border-radius: 5px;
  display: grid;
  height: 85%;
  width: 90%;
  justify-content: center;
}

.whitesquare {
  background: white;
  border: 1px solid black;
}

.blacksquare {
  background: black;
  border: 1px solid black;
}
